.card {
  width: 300px;
  border: 1px solid gray;
  border-radius: 10px;
  position: relative;
}

.img-card {
  padding: 10px;
}
.card img {
  width: 100%;
  border-radius: 10px;
}

.product-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
}

.product-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0e161a;
  margin-bottom: 47px;
}

.product-seller {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #2a414f;
}

.product-ratings {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #2a414f;
  margin-bottom: 54px;
}
.card-description {
  padding: 10px;
}

.card-footer {
  width: 300px;
  height: 48px;
  background-color: #ffe0b3;
  text-align: center;
  border: none;
  font-size: 18px;
  margin: 0;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-bg {
  margin-right: 7px;
}
.card-footer:hover {
  background-color: #af741b;
}
