.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-left: 140px;
  padding-right: 140px;
  background-color: #1c2b35;
}

.header a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 40px;
  font-size: 18px;
}

.header a:hover {
  color: orange;
}

.logout-icon {
  font-size: 30px;
  background-color: #1c2b35;
  color: white;
}
